{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
	About
{% endblock %}

{% block body_block %}
    <div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="https://images.unsplash.com/photo-1470129905980-2fecd5297c1b?ixlib=rb-0.3.5&amp;q=100&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;dl=alexander-dummer-117495.jpg&amp;s=900a377323ad334a72c2189409dc5fad" class="img-responsive">
				</div>
				<div class="col-md-6">
					<h1>About Dog Matcher</h1>
					<h3>A subtitle</h3>
					<p contenteditable="true">Some information about how Dog Matcher was created, its aims etc etc</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}