{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
	Your Account
{% endblock %}

{% block body_block %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-1 text-center">
            <i class="fa fa-5x fa-fw fa-user pull-right text-success"></i>
          </div>
          <div class="col-md-6">
            <h1>Your Account</h1>
          </div>
        </div>
      </div>
    </div>

    <form class="form-horizontal">
      <fieldset>
        <!-- Form Name -->
        <legend>Change Your Name</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="changefirstname">First Name:</label>
          <div class="col-md-4">
            <input id="changefirstname" name="changefirstname" type="text" placeholder="First Name" class="form-control input-md" required="">
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="changelastname">Last Name:</label>
          <div class="col-md-4">
            <input id="changelastname" name="changelastname" type="text" placeholder="Last Name" class="form-control input-md" required="">
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="namechange"></label>
          <div class="col-md-4">
            <button id="namechange" name="namechange" class="btn btn-primary">Change Name</button>
          </div>
        </div>
      </fieldset>
    </form>
    <form class="form-horizontal">
      <fieldset>
        <!-- Form Name -->
        <legend>Change Your Email</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="changeemail0">New Email:</label>
          <div class="col-md-4">
            <input id="changeemail0" name="changeemail0" type="text" placeholder="Email" class="form-control input-md" required="">
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="changeemail1">Repeat Email:</label>
          <div class="col-md-4">
            <input id="changeemail1" name="changeemail1" type="text" placeholder="Repeat Email" class="form-control input-md" required="">
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="emailchange"></label>
          <div class="col-md-4">
            <button id="emailchange" name="emailchange" class="btn btn-primary">Change Email</button>
          </div>
        </div>
      </fieldset>
		<fieldset>
		<!-- Form Name -->
		<legend>Change Your Password</legend>
		<!-- Password input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="currentpassword">Current Password:</label>
		  <div class="col-md-4">
			<input id="currentpassword" name="currentpassword" type="password" placeholder="Current Password" class="form-control input-md" required="">
		  </div>
		</div>
		<!-- Password input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="changepassword0">New Password</label>
		  <div class="col-md-4">
			<input id="changepassword0" name="changepassword0" type="password" placeholder="New Password" class="form-control input-md" required="">
		  </div>
		</div>
		<!-- Password input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="changepassword1">Repeat New Password</label>
		  <div class="col-md-4">
			<input id="changepassword1" name="changepassword1" type="password" placeholder="Repeat New Password" class="form-control input-md" required="">
		  </div>
		</div>
		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="passwordchange"></label>
		  <div class="col-md-4">
			<button id="passwordchange" name="passwordchange" class="btn btn-primary">Change Password</button>
		  </div>
		</div>
		</fieldset>
    </form>
{% endblock %}