<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>Dog Matcher</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">About</a>
            </li>
            <li class="active">
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form class="form-horizontal">
              <fieldset>
                <!-- Form Name -->
                <legend>Contact Our Team</legend>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="contactfirstname">First Name:</label>
                  <div class="col-md-4">
                    <input id="contactfirstname" name="contactfirstname" type="text" placeholder="First Name" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="contactlastname">Last Name:</label>
                  <div class="col-md-4">
                    <input id="contactlastname" name="contactlastname" type="text" placeholder="Last Name" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="contactemail">Email:</label>
                  <div class="col-md-4">
                    <input id="contactemail" name="contactemail" type="text" placeholder="Email" class="form-control input-md" required="">
                  </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="contactmessage">Your Message:</label>
                  <div class="col-md-7">
                    <textarea class="form-control" id="contactmessage" name="contactmessage">Message Text</textarea>
                  </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="sendmessage"></label>
                  <div class="col-md-4">
                    <button id="sendmessage" name="sendmessage" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1452457763481-bf66c83f94ee?ixlib=rb-0.3.5&amp;q=100&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;dl=crew-56836.jpg&amp;s=eeeb17c9c8420b7da742f25518ad7853" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
      <footer class="section section-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h1>Dog Matcher</h1>
              <p>Dog Matcher was created by the Datababes for the Internet Technology class
                <br>2017</p>
            </div>
            <div class="col-sm-6">
              <p class="text-info text-right">
                <br>
                <br>
              </p>
              <div class="row">
                <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                  <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                  <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                  <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                  <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 hidden-xs text-center">
                  <a href="#"><i class="fa fa-5x fa-fw fa-github text-inverse"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>