{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
    <div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img src="https://images.unsplash.com/photo-1466995937966-2e6f29c6ed60?ixlib=rb-0.3.5&amp;q=100&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;dl=alvin-balemesa-105751.jpg&amp;s=b9c3666320e1d86f3e22179674e65a75%20Show%20in%20folder" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Sign in to Dog Matcher</h3>
                  <p>Enter email and password to log on:</p>
                </div>
                <div class="form-top-right"></div>
              </div>
              <div class="form-bottom">
                <form id="login_form" role="form" method="post" action="{% url 'authenticateuser' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{ user_form.as_p }}
                  <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control" type="username" name="username" placeholder="Enter username" id="usernameinput">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="exampleInputPassword0">Password</label>
                    <input class="form-control" name="password" id="exampleInputPassword0" placeholder="Password" type="password">
                  </div>
                  <button type="submit" class="btn">Sign in</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-1 middle-border"></div>
          <div class="col-sm-5">
            <div class="form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Sign up now</h3>
                  <p>Fill in the form below to get instant acces to Dog Matcher:</p>
                </div>
                <div class="form-top-right">
                </div>
              </div>
              <div class="form-bottom">
                <form id="register_form" role="form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{ user_form.as_p }}

                  <div class="form-group">
                    <label class="control-label" for="form-first-name">Name</label>
                    <input type="text" name="username" placeholder="Name" class="form-first-name form-control" id="form-first-name">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Username</label>
                    <input type="username" name= "email" placeholder="Enter email" class="form-control" id="exampleInputEmail1">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">Password</label>
                    <input class="form-control" name = "password" id="exampleInputPassword1" placeholder="Password" type="password">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="exampleInputPassword2">Repeat password</label>
                    <input class="form-control" name = "password_repeat" id="exampleInputPassword2" placeholder="Repeat password" type="password">
                  </div>
                  <button type="submit" class="btn">Sign up</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}