{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
	Your Matches
{% endblock %}

{% block body_block %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <i class="fa fa-2x fa-check fa-fw pull-right text-success"></i>
                    </div>
                    <div class="col-md-6">
                        <p class="lead text-success">You completed the Dog Matcher Survey</p>
                        <h1>Best Matches</h1>
                        <p>Click on dog pictures to see more information about breeds</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                        <a href="#"><i class="fa fa-3x fa-fw -o text-danger umbs-o-up fa-heart"></i></a>
                        <h2>Dog1</h2>
                        <p>Dog 1 short description</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                        <a href="#"><i class="fa fa-3x fa-fw fa-heart-o text-danger umbs-o-up"></i></a>
                        <h2>Dog2</h2>
                        <p>Dog 2 short description</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                        <a href="#"><i class="fa fa-3x fa-fw fa-heart-o text-danger umbs-o-up"></i></a>
                        <h2>Dog3</h2>
                        <p>Dog 3 short description</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                                            <a href="#"><i class="fa fa-3x fa-fw fa-heart-o text-danger umbs-o-up"></i></a>
                                            <h2>Dog4</h2>
                                            <p>Dog 4 short description</p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                                            <a href="#"><i class="fa fa-3x fa-fw fa-heart-o text-danger umbs-o-up"></i></a>
                                            <h2>Dog5</h2>
                                            <p>Dog 5 short description</p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                                            <a href="#"><i class="fa fa-3x fa-fw fa-heart-o text-danger umbs-o-up"></i></a>
                                            <h2>Dog6</h2>
                                            <p>Dog 6 short description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}